body {
    background-color: black;
    font-family: "Catamaran", sans-serif;
    color: #ccc;
}

a {
    color: #ccc;
}

a:hover {
    color: #ccc;
    text-decoration: none;
}

.navbar-custom {
    padding: 1.5rem 2.5rem;
    background-color: #222;
}

.container-custom {
    margin: 0 auto;
    max-width: 1200px;
}

.section {
    background-color: #222;
    margin: 2rem;
    padding: 2rem;
    border-radius: 10px;
}

.section h3 {
    margin-bottom: 3rem;
}

#home {
    margin: 2rem;
    padding: 2rem;
}

#home-top {
    display: flex;
    justify-content: center;
}

#home-left, #home-right {
    display: inline-block;
    vertical-align: middle;
}

#home-left {
    padding-right: 2rem;
}

#home-left .hello {
    text-align: right;
}

#home-left span {
    color: white;
}

#home-right img {
    max-width: 300px;
    border-radius: 200px;
}

#home-bottom {
    margin-top: 3rem;
    font-size: 1.5rem;
}

#skill-list {
    margin-bottom: 1rem;
    cursor: default;
}

#skill-list .item {
    display: inline-block;
    width: 80px;
    font-size: 4rem;
    text-align: center;
}

#skill-list .item i {
    vertical-align: middle;
}

#skill-list .item i:hover {
    font-size: 4.5rem;
}

.project {
    padding: 2rem 0 1rem;
    border-radius: 10px;
    display: block;
}

.project:hover {
    background-color: black;
}

.project img {
    max-width: 200px;
    margin-bottom: 1rem;
    border-radius: 10px;
}

#contact {
    margin: 2rem;
}

#contact img {
    max-width: 30px;
    margin: 0 5px;
    transition: transform 0.1s;
}

#contact img:hover {
    transform: scale(1.2);
}

.hover-allowed:hover {
    color: white;
}

@media (max-width: 1366px) {
    .container-custom {
        max-width: 1000px;
    }
}

@media (max-width: 1200px) {
    .container-custom {
        max-width: 750px;
    }

    #home-top {
        display: block;
    }

    #home-left .hello, h2 {
        text-align: center;
    }

    #home-left {
        margin: 0 auto 2rem;
        padding-right: 0;
        display: block;
    }

    #home-right {
        margin: auto;
        display: block;
        width: fit-content;
    }
}

@media (max-width: 700px) {
    .container-custom {
        max-width: 100%;
    }

    h2 {
        font-size: 1.5rem;
    }

    h3 {
        font-size: 1.3rem;
    }

    h5 {
        font-size: 1.1rem;
    }

    #home-bottom  {
        font-size: 1rem;
    }

    #skill-list .item {
        width: 60px;
        font-size: 3rem;
    }

    #skill-list .item i:hover {
        font-size: 3.5rem;
    }
}

@media (max-width: 480px) {
    #home-right img {
        max-width: 225px;
    }

    #skill-list .item {
        width: 40px;
        font-size: 2rem;
    }

    #skill-list .item i:hover {
        font-size: 2.4rem;
    }

    .section {
        margin: 1.5rem;
        padding: 1.5rem;
    }

    .section h3 {
        margin-bottom: 1.5rem;
    }

    .project {
        padding: 1rem 0 0.5rem;
    }
}
